/*
    Hide the search box.
*/
.search-results, #book-search-input {
    display: none;
}

/*
    Convert the "home" link into website "title".
*/
.summary > li:first-child {
    font-weight: bold;
    margin-top: 0.3em;
    pointer-events: none;
}

/*
    Fix active link highlight in navigation.

    By default, it works as expected for `li.active > a`, but not for `a.active`.
*/
.book-summary .summary li > a.active,
.book-summary .summary li > a.active:hover {
    /* Color from `.book-summary ul.summary li.active > a` */
    color: #008cff;
    text-decoration: none;
}

/*
    Hide auto-inserted navigation elements.
*/
.summary > li:last-child,
.summary > li:nth-last-child(2) {
    display: none;
}
