.search-results, #book-search-input {
    display: none;
}

.summary > li:last-child,
.summary > li:nth-last-child(2) {
    display: none;
}

.summary > li:first-child {
    font-weight: bold;
    margin-top: 0.3em;
    pointer-events: none;
}

.book-summary ul.summary li .active>a,
.book-summary ul.summary li a.active {
    color: #008cff;
    background: 0 0;
    text-decoration: none;
}
